<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vazare">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".application.VazareApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_vazare"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_vazare_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SettingsManagerActivity"
            android:label="@string/title_activity_settings_manager"
            android:parentActivityName=".presentation.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.MainActivity"/>

        </activity>
        <activity
            android:name=".presentation.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
Esta parte do código faz com que o alarme seja iniciando novamente apos o device ser reiniciado
, por este motivo esta comentado
        -->
        <receiver
            android:name=".MyBroadCastReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"></receiver>

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />
    </application>

</manifest>